body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1.5rem;
}

header img.profile-photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

nav {
    margin: 0;
    padding: 0;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 1rem;
    font-size: 1.2rem;
}

section {
    max-width: 900px;
    margin: 2rem auto;
    padding: 1.5rem;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
    text-align: center;
    margin-bottom: 1rem;
}

p, ul {
    font-size: 1.1rem;
    color: #666;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1.5rem;
    position: fixed;
    width: 100%;
    bottom: 0;
}

nav a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    section {
        padding: 1rem;
    }

    nav a {
        display: block;
        margin: 0.5rem 0;
    }
}

section#experience {
    max-width: 900px;
    margin: 2rem auto;
    padding: 1.5rem;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

section#experience h2 {
    text-align: center;
    color: #333;
    margin-bottom: 1.5rem;
}

.job {
    margin-bottom: 2rem;
}

.job h3 {
    color: #333;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.job .company {
    font-weight: bold;
    color: #666;
}

.job .date {
    font-style: italic;
    color: #999;
    margin-bottom: 0.5rem;
}

.job .description {
    color: #666;
    margin-bottom: 0.5rem;
}

.job .tech-used {
    color: #333;
    font-style: italic;
}

section#education {
    max-width: 900px;
    margin: 2rem auto;
    padding: 1.5rem;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

section#education h2 {
    text-align: center;
    color: #333;
    margin-bottom: 1.5rem;
}

.school {
    margin-bottom: 2rem;
}

.school h3 {
    color: #333;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.school .institution {
    font-weight: bold;
    color: #666;
}

.school .date {
    font-style: italic;
    color: #999;
    margin-bottom: 0.5rem;
}

.school .description {
    color: #666;
    margin-bottom: 1rem;
}

.footer {
    display: flex;
    justify-content: center;
  }